/* Page-wide setup */
* {
  padding: 0;
  border: 0;
  margin: 0; 
  box-sizing: border-box; 
  font-family: sans-serif;
  font-size: 1rem
}

.body {
  display: flex;
  flex-direction: column;
  width: 100%
}

/* Header Elements*/
.header {
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  height: 7vh;
  border: 2px solid black;
  padding: 0.5vh 1vw;
  background-color: #121212;  
  color: #FFFFFF;
}

.header-text {
  text-align: left;
  font-size: 1.75rem
}

.main {
  display:flex;
  flex-direction: row;
}

/*!! Sidebar Elements !!*/
.sidebar{
  border-right: 2px solid  rgba(0, 0, 0, 0.5);
  height: 93vh;
  width: 20%;
  padding: 10px;
  overflow-y: auto;
  background-color: #F0F0F0;  
  color: #121212;
  padding-top: 1%;
}

/* (#004488, 003366) E6E6E6*/

/* Scrollbar container */
.sidebar::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Scrollbar track */
.sidebar::-webkit-scrollbar-track {
  background: #F5F5F5; /* Color of the track */
  border-radius: 10px; /* Rounded corners */
}

/* Scrollbar thumb */
.sidebar::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #F5F5F5; /* Adds a border around the thumb */
}

/* Scrollbar thumb on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}

/* */

h3 {
  padding: 0;
  margin-bottom: 10px
}

.checkbox-header {
  border: 2px solid black;
  display: flex;
}

.checkbox-header:hover {
  background-color: #888;
  cursor: pointer;
}

.checkbox-group, .radio-group, .checkbox-content-1, .checkbox-content-2, .checkbox-content-3, .checkbox-content-4{
  display: flex;
  flex-direction: column;
  padding: 0;
}

.checkbox-group input {
  margin-bottom: .5em;
}

/* Checkbox/Slider Group Transitions */
/* Entering */
.checkbox-content-1-enter, .checkbox-content-2-enter, .checkbox-content-3-enter, .checkbox-content-4-enter {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}


.checkbox-content-1-enter-active, .checkbox-content-2-enter-active, .checkbox-content-3-enter-active, .checkbox-content-4-enter-active {
  max-height: 40vh; /* Adjust to a value that can contain the content */
  opacity: 1;
  transition: max-height 300ms ease-out, opacity 300ms ease-out;
}

/* Exiting */
.checkbox-content-1-exit, .checkbox-content-2-exit, .checkbox-content-3-exit, .checkbox-content-4-exit {
  max-height: 500px;
  opacity: 1;
}

.checkbox-content-1-exit-active, .checkbox-content-2-exit-active, .checkbox-content-3-exit-active, .checkbox-content-4-exit-active {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 300ms ease-in, opacity 300ms ease-in;
}

.caret {
  transition: ease 0.3s;
}

#ch-1[aria-expanded='true'] .caret {
  transform: rotate(180deg);
}

#ch-2[aria-expanded='true'] .caret {
  transform: rotate(180deg);
}

#ch-3[aria-expanded='true'] .caret {
  transform: rotate(180deg);
}

#ch-4[aria-expanded='true'] .caret {
  transform: rotate(180deg);
}

.checkbox-group input:hover, .checkbox-label {
  cursor: pointer;
}

.radio-group{
  display: flex;
  flex-direction: column;
}

hr {
  color: white;
  background-color: white;
  width: 100%;
  margin: 10px 0;
  padding: 1.5px 0;
}

.final-break {
  width: 100%;
}

.submit-div {
  margin: 0 auto;
  align-content: center;
  display: flex;
  justify-content: center;
}
.submit {
  margin: auto 0;
  width: 70%;
  height: 3%;
  border: 1px solid gray;
  padding: 5px;
  margin-top: 10px;
}

.submit:hover{
  background-color: #8682A0;
}

/* !! Sidebar End !! */

/* !! Main Page Content !! */
.content{
  width: 80vw;
  height:93vh;
  overflow-y: auto;
  background-color: #F5F5F5;
  color: #333333;
  padding-top: 1%;
}



/* Model Explanation Elements */

.model-explanation-enter {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.model-explanation-enter-active {
  max-height: 100vh; /* Adjust to a value that can contain the content */
  opacity: 1;
  transition: max-height 300ms ease-out, opacity 300ms ease-out;
}

/* Exiting */
.model-explanation-exit {
  max-height: 500px;
  opacity: 1;
}

.model-explanation-exit-active {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 300ms ease-in, opacity 300ms ease-in;
}

.model-toggle[aria-expanded='true'] .caret {
  transform: rotate(180deg);
}

.model-toggle {
  display: flex;
  border: 2px solid black;
}

.model-toggle:hover {
  background-color:#8682A0;
}

.model-explanation {
  display: flex;
  flex-direction: column;
  width: 92%;
  margin: 0 auto;
  background-color: #f9f7f1;
  border: solid 2px black;
  border-radius: 15px;
  padding: 2%;
  margin-bottom: 2%;
}

.model-explanation h2{
  font-size: 1.5rem;
  margin-bottom: 0.5%;
}
.text-block {
  margin-bottom: 1%;
  line-height: 1.4;
}

.category-diagram-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1%;
}

.diagram-label-div {
  width: 45%;
}

.diagram-label-div p {
  text-align: center;
}

.category-diagram {
  border: solid black 2px;
  width: 100%;
  border-radius: 20px;
  height: 90% 
}

.score-diagram {
  border: solid black 2px;
  border-radius: 20px ;
  width: 93%;
  margin: 0 auto;
  margin-bottom: 1vh;
}

/* Page Toggle Elements */


#page-toggle-button {
  border: 2px solid black;
  width: 20%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 20px;
  overflow: hidden;
}

#state-button {
  margin-right: auto;
}

#county-button, #state-button {
  padding-right: 3%;
  padding-left: 3%;
  width: 50%;
  border-radius: 20px;
}

.page-toggle-div[value='statePage'] #state-button {
  background-color: #8682A0;
}

.page-toggle-div[value='countyPage'] #county-button {
  background-color: #8682A0;
}

#page-toggle-button:hover {
  cursor: pointer;
}

/* Page toggle animations */

.slide-enter {
  opacity: 0;
  transform: translateX(100%);
}

.slide-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.slide-exit {
  opacity: 1;
  transform: translateX(0%);
}

.slide-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

/* Main Map and Corresponding Plot Elements */

.landing-map {
  width: 90%;
  border: solid black 2px;
  margin: 0 auto;
}

.general-map-plots {
  border: solid 2px black;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1vh;
}

.custom-tooltip {
  background-color: #ffffff;
  color: #121212;
  display: flex;
  flex-direction: column;
  padding: 1vh;
  border-radius: 10px;
  border: solid #B8B8B8 1px;
}

.tooltip-label {
  color: #121212;
  text-align: center;
  font-weight: bold;
}

.section-label {
  font-size: 1.3rem;
  height: 4%;
  font-weight: bold;
}

#dashboard-box-1 .section-label {
  border-bottom: 2px dashed orange;
  background-color: rgb(203, 200, 200);
  margin: auto 0;
  padding-left: 2%;
}

#dashboard-box-2 .section-label {
  padding-left: 2%;
}

.plot-label {
  font-weight: 600;
  text-align: center;
  font-size: 1rem;
}

#dashboard-box-1 .plot-label {
  margin-top: 1%;
}

.county-barplot-div {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #f9f7f1;
  display: flex;
  flex-direction: column;
}


.county-barplot {
  width: 100%;
  height: 95%;
  margin: 0 auto;
}

.demographic-plot-div {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #f9f7f1;
}


.demographic-plot {
  width: 100%;
  height: 94%;
}


.dashboard-box {
  border: 5px solid rgb(203, 200, 200);
  border-radius: 10px;
  width: 95%;
  margin: 0 auto;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.top-row, .bottom-row {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.main-box {
  height: 100%; 
  width: 50%;
  display: flex;
  flex-direction: column;
}

#box1 { 
  border-right: 10px solid rgb(203, 200, 200);
}

#dashboard-box-2 #box1 {
  border-bottom: 10px solid rgb(203, 200, 200);
}

#dashboard-box-2 #box2 {
  border-bottom: 2px dashed rgb(203, 200, 200);
}


/* Find your Tract Elements */

.search-area{
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.county-dropdown-div {
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
  margin-top: 1%;
}

.dropdown {
  width: 50%;
  height: 3vh;
}

.county-map-div {
  margin: 0 auto;
}

.county-map {
  width: 90%;
  border: solid black 2px;
  margin: 0 auto;
}

/*Profile Elements */

.overall-radial-div {
  width: 100%;
  margin: 0 auto;
  height: 33%;
  background-color: #f9f7f1
}

.overall-radial-container {
  height: 90%;
  width: 100%;
}

.overall-radial {
  width: 100%;
  height: 100%;
}

.score-equation {
  height: 33%;
  width: 100%;
  border: 2px black solid;
  background-color: #f9f7f1
}

.radial-charts {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
}
.radial-chart {
  height:100%;
  width: 25%;
}

.dual-panel {
  height: 33%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #f9f7f1;
  margin-bottom: 0;
}

.pie-chart-div {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  border-top: none;
  margin-bottom: 0;
}

.pie-chart {
  height: 90%;
  width: 100%;
}


.top-variables {
  display: none;
}

/* Slider Elements */

.sliders {
  border: 2px black solid;
  background-color: #f9f7f1;
  width: 90%;
  margin: 0 auto;
  margin-top: 1vh;
}

.sliders {
  margin-top: .7vh;
}


.slider-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  width: 90%;
  margin-bottom: 5px;
}

.slider:hover {
  cursor: pointer;
}

.slider-submit-buttons {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  
}

.slider-submit{
  margin: auto 0;
  width: 30%;
  height: 3%;
  border: 1px solid gray;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 1vh;
}

.slider-submit:hover{
  background-color: #8682A0;
}

.footer {
  height: 3vh;
}
