/* Page-wide setup */
* {
  padding: 0;
  border: 0;
  margin: 0; 
  box-sizing: border-box; 
  font-family: sans-serif;
  font-size: 1em
}

.body {
  display: flex;
  flex-direction: column;
  width: 100%
}

/* Header Elements*/
.header {
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  height: 7vh;
  border: 2px solid black;
  padding: 0.5vh 1vw;
  background-color: #121212;  
  color: #FFFFFF;
}

.header-text {
  text-align: left;
  font-size: 1.75em
}

.main {
  display:flex;
  flex-direction: row;
}

/*!! Sidebar Elements !!*/
.sidebar{
  border-right: 2px solid  rgba(0, 0, 0, 0.5);
  height: 93vh;
  width: 20%;
  padding: 10px;
  overflow-y: auto;
  background-color: #F0F0F0;  
  color: #121212;
  padding-top: 1%;
}

/* (#004488, 003366) E6E6E6*/

/* Scrollbar container */
.sidebar::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Scrollbar track */
.sidebar::-webkit-scrollbar-track {
  background: #F5F5F5; /* Color of the track */
  border-radius: 10px; /* Rounded corners */
}

/* Scrollbar thumb */
.sidebar::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #F5F5F5; /* Adds a border around the thumb */
}

/* Scrollbar thumb on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}

h3 {
  padding: 0;
  margin-bottom: 10px
}

.checkbox-group, .radio-group{
  display: flex;
  flex-direction: column;
  padding: 0;
}

.checkbox-group input {
  margin-bottom: .5em;
}

.radio-group{
  display: flex;
  flex-direction: column;
}

hr {
  color: white;
  background-color: white;
  width: 80%;
  margin: 10px 0;
  padding: 1.5px 0;
}

.submit-div {
  margin: 0 auto;
  align-content: center;
  display: flex;
  justify-content: center;
}
.submit {
  margin: auto 0;
  width: 70%;
  height: 3%;
  border: 1px solid gray;
  padding: 5px;
  margin-top: 10px;
}

.submit:hover{
  background-color: #8682A0;
}

/* !! Sidebar End !! */

/* !! Main Page Content !! */
.content{
  width: 80vw;
  height:93vh;
  overflow-y: auto;
  background-color: #F5F5F5;
  color: #333333;
  padding-top: 1%;
}



/* Model Explanation Elements */

.model-explanation {
  display: flex;
  flex-direction: column;
  width: 92%;
  margin: 0 auto;
  background-color: #f9f7f1;
  border: solid 2px black;
  border-radius: 15px;
  padding: 2%;
  margin-bottom: 2%;
}

.model-explanation h2{
  font-size: 1.5em;
  margin-bottom: 0.5%;
}
.text-block {
  margin-bottom: 1%;
  line-height: 1.4;
}

.category-diagram-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1%;
}

.diagram-label-div {
  width: 45%;
}

.diagram-label-div p {
  text-align: center;
}

.category-diagram {
  border: solid black 2px;
  width: 100%;
  border-radius: 20px;
  height: 90% 
}

.score-diagram {
  border: solid black 2px;
  border-radius: 20px ;
  margin-bottom: 1%;
  width: 93%;
  margin: 0 auto;
}



/* Main Map and Corresponding Plot Elements */

.landing-map {
  width: 90%;
  height: 50%;
  margin: 0 auto;
  border: solid black 2px;
  margin-bottom: 100px;
}

.general-map-plots {
  border: solid 2px black;
  width: 90%;
  margin: 0 auto;
}

.custom-tooltip {
  background-color: #F5F5F5;
  color: #121212;
  display: flex;
  flex-direction: column;
  padding: 1vh;
  border-radius: 10px;
  border: solid #B8B8B8 1px;
}

.tooltip-label {
  color: #121212;
  text-align: center;
  font-weight: bold;
}

.plot-label {
  font-weight: bold;
  text-align: center;
}

.county-barplot-div {
  width: 100%;
  height: 40vh;
  margin: 0 auto;
  background-color: #f9f7f1;
  border-bottom: 2px solid black
}
.county-barplot-div .plot-label {
  padding-top: .4%;
}

.county-barplot {
  width: 100%;
  height: 95%;
  margin: 0 auto;
}

.demographic-plot-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40vh;
  margin: 0 auto;
  background-color: #f9f7f1
}

.demographic-plot-div {
  width: 50%;
  height: 100%;
}

.demographic-plot-div .plot-label {
  padding-top: .4%;
}

.demographic-plot {
  width: 100%;
  height: 95%;
}

.last-plot, .last-label {
  border-left: solid black 2px
}

/* Find your Tract Elements */

.search-area{
  width: 70%;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.dropdown {
  width: 30%;
  height: 7%;
  margin: 5px;
}


.county-map-div {
  width: 80%;
  height: 50%;
  margin: 0 auto;
  border: solid black 2px;
  margin-bottom: 4%;
}

.county-map {
  width: 100%;
  height: 50%;
}

/*Profile Elements */

.profile-container {
  width: 90%;
  height: 75vh;
  margin: 0 auto;
}
.profile {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.profile .plot-label {
  padding-top: .4%;
}

.overall-radial-div {
  width: 50%;
  margin: 0 auto;
  height: 33%;
  border: 2px solid black;
  border-bottom: none;
  background-color: #f9f7f1
}

.overall-radial-container {
  height: 90%;
  width: 100%;
}

.overall-radial {
  width: 100%;
  height: 100%;
}

.score-equation {
  height: 33%;
  width: 100%;
  border: 2px black solid;
  background-color: #f9f7f1
}

.radial-charts {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
}
.radial-chart {
  height:100%;
  width: 25%;
}

.dual-panel {
  height: 33%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #f9f7f1
}

.pie-chart-div {
  height: 100%;
  width: 50%;
  margin: 0 auto;
  border: 2px black solid;
  border-top: none
}

.pie-chart {
  height: 90%;
  width: 100%;
}


.top-variables {
  height: 100%;
  width: 50%;
}

/* Slider Elements */

.environmental-sliders, .population-sliders {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 90%
}

.slider-div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  width: 30%;
  margin-bottom: 5px;
}

.slider-submit-buttons {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  
}

.slider-submit{
  margin: auto 0;
  width: 30%;
  height: 3%;
  border: 1px solid gray;
  padding: 5px;
  margin-top: 10px;
}

.slider-submit:hover{
  background-color: #8682A0;
}

.footer {
  height: 3vh;
}
